body {
  background-color: aliceblue;
}
img {
  border-radius: 50px;
  height: 240px;
  width: 240px;
}
.image-name {
  padding: 0px 50px;
  font: italic bold 24px serif;
}
.image-rating {
  padding: 0px 50px;
}

.col-2 {
  padding: 0px 50px;
  float: right;
  display: inline-block;
  width: 50%;

}

.input-image form{
  float:left;
  display: inline-flex;
}

.input-image {
  padding: 50px 50px;
}

.col-1 {
  clear: both;
  display: inline-block;
  /*width: 50%;*/
}